{% extends "base.html" %}
{% load static %}

{% block title %}Все товары{% endblock %}

{% block content %}
    <h1>{{ page_header }}</h1>
    <button>Добавить товар</button>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Поставщик</th>
        </tr>
        {% for item in goods %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.vendor }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block additional_js %}
    <script src="{% static 'test.js' %}"></script>
{% endblock %}