<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все товары</title>
</head>
<body>
    <h1>{{ page_header }}</h1>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
            <th>Поставщик</th>
        </tr>
        {% for item in goods %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.vendor }}</td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>